.filter__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  background-color: var(--second-bg-color);
  cursor: pointer;
  border: 0px;
  border-radius: 4px;
  transition: var(--animation) var(--animation);
}
.filter__button:hover,
.filter__button:focus {
  background-color: var(--accent-color);
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
