.social__list {
  display: inline-flex;
  position: relative;
  margin-top: 16px;

  @media screen and (max-width: 767px) {
  }

  @media screen and (max-width: 1199px) {
    margin-bottom: 24px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 30px;
  }
}
.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  transition: background-color var(--animation) var(--timing-function);
}
.social__item + .social__item {
  margin-left: 10px;
}
.social__icon {
  height: 20px;
  width: 20px;
  fill: #afb1b8;
  position: absolute;
  transition: var(--animation) var(--timing-function);
}
.social__link:hover,
.social__link:focus {
  background-color: var(--accent-color);
  transform: scale(1, 1);
}
.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: #ffffff;
}
