.social__list {
  display: inline-flex;
  position: relative;

  @media screen and (min-width: 480px) {
    margin: 16px 122px 24px 122px;
  }

  @media screen and (min-width: 768px) {
    margin: 16px 74px 24px 74px;
  }

  @media screen and (min-width: 1200px) {
    margin: 16px 31.5px 30px 31.5px;
  }
}
.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  transition: background-color var(--animation) var(--timing-function);
}
.social__item + .social__item {
  margin-left: 10px;
}
.social__icon {
  height: 20px;
  width: 20px;
  fill: #afb1b8;
  position: absolute;
  transition: var(--animation) var(--timing-function);
}
.social__link:hover,
.social__link:focus {
  background-color: var(--accent-color);
  transform: scale(1, 1);
}
.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: #ffffff;
}
