:root {
  --main-text-color: #212121;
  --second-text-color: #757575;
  --dark-bg-text-color: #ffffff;
  --accent-color: #2196f3;
  --dark-bg-color: #2f303a;
  --second-bg-color: #f5f4fa;
  --title-font: "Roboto", sans-serif;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation: 250ms;
}
