.footer {
  background-color: var(--dark-bg-color);
  height: 100%;
}
.footer__contacts {
  color: rgba(255, 255, 255, 0.6);
  margin-top: 9px;
}
.footer__contacts:hover,
.footer__contacts:focus {
  color: var(--accent-color);
}

.footer__title {
  font-weight: bold;
  line-height: 16px;
  text-transform: uppercase;
  color: #ffffff;
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.footer-social__list {
  margin: 20px 0 0 0;
}
.footer-social__link {
  background: rgba(255, 255, 255, 0.1);
}
.footer-social__icon {
  fill: #ffffff;
}
.footer--column {
  display: flex;
  flex-basis: calc((50% - 45px) / 2);
  flex-direction: column;
  @media screen and (max-width: 1199px) {
    align-items: center;
  }
}
.footer--column:not(:first-child) {
  @media screen and (max-width: 767px) {
    margin-top: 60px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 30px;
  }
}

.footer--container {
  display: flex;
  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
  @media screen and (max-width: 1199px) and (min-width: 768px) {
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
  }
}
.footer__form {
  @media screen and (max-width: 1199px) {
    margin-top: 60px;
  }
}
