.team {
  background-color: var(--second-bg-color);
}
.team__list {
  display: flex;
}
.team__card {
  background-color: #ffffff;
  line-height: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  flex-basis: calc((100% - 30px * 3) / 4);
}
.team__card:not(:first-child) {
  margin-left: 30px;
}
.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-top: 30px;
}
.team__profession {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--second-text-color);
}
.team__name + .team__profession {
  margin-top: 10px;
}
